.home_page, .home_page1{
    background-color: white;
    overflow-y: none;
    height: 900px;

}
.home_page1{
    background-image: url("bg2.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    color: #4682B4;
}
.heading, .pic{
    display: inline-block;
}
.heading{
    font-weight: bold;
    color: white;
    margin-left: 23%;
}
.bg-head{
    background-color: #4682B4;
}
.info{
    background-color: aliceblue;
    padding-left: 50px;
}
#myCarousel{
    padding: 50px;
    
}
h3{
    color: #4682B4;
}
.core{
    padding: 30px;
}
.text{
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
    font-size: 40px;
    font-family: cursive;
    text-shadow: 2px 2px 0 #000,
                 2px 2px 0 #000,
                 2px 2px 0 #000,
                 2px 2px 0 #000;

}
.email{
    width: 30%;
    padding: 20px;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: aliceblue;
    border-radius: 20px;
}
.contact{
    width: 500px;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 30px;
    margin-bottom: 15%;
}
.form-control {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-bottom: 30px;
    background-color: aliceblue;
}

h2{
    padding-bottom: 20px;
}
.btn{
    margin-top: 20px;
}