/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.home_page, .home_page1{
  background-color: white;
  overflow-y: none;
  height: 900px;

}
/* .home_page1{
  background-image: url("bg2.PNG");
  background-repeat: no-repeat;
  background-size: cover;
} */
.navbar{
  width: 100%;
  background-color: rgb(47, 44, 44);
}
.navbar-nav .nav-link {
  color: white;
  transition: box-shadow 0.1s ease-in-out;
}
.nav-link:hover{
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.4) inset;
}
.sshhh{
  animation-name: slideee-in;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slideee-in{
  0%{
    transform: translateX(-20%);
    opacity: 0;
  }
  100%{
    transform: translateX(2%);
    opacity: 1;
  }
}
.heading, .pic{
  display: inline-block;
}
.heading{
  font-weight: bold;
  color: white;
  margin-left: 23%;
  animation-name: slidee-in;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slidee-in{
  0%{
    transform: translateX(30%);
    opacity: 0;
  }
  100%{
    transform: translateX(-5%);
    opacity: 1;
  }
}
.bg-head{
  background-color: #4682B4;
}
.info{
  background-color: aliceblue;
  padding-bottom: 100px;
  padding-left: 50px;
}
#myCarousel{
  padding: 50px;
  
}
h3{
  color: #4682B4;
}
.core{
  padding: 30px;
}
.text{
  position: absolute;
  top: 30%;
  left: 5%;
  color: white;
  font-size: 40px;
  font-family: cursive;
  text-shadow: 2px 2px 0 #000,
               2px 2px 0 #000,
               2px 2px 0 #000,
               2px 2px 0 #000;

}
.email{
  width: 30%;
  padding: 20px;
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: aliceblue;
  border-radius: 20px;
}
.contact{
  width: 500px;
  background-color: aliceblue;
  padding: 50px;
  border-radius: 30px;
  margin-bottom: 15%;
}
.form-control {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-bottom: 30px;
  background-color: aliceblue;
}

h2{
  padding-bottom: 20px;
}
.btn{
  margin-top: 20px;
  

}
.button,#logsign_btn{
  background-color: #4682B4;
  width: 51%;
  padding: 15px;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  transition: box-shadow 0.1s ease-in-out;
}
#logsign_btn{
  width: 100%;
  color: white;
}
.button:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.4) inset;
}
.button1{
  background-color: #4682B4;
  width: 25%;
  padding: 15px;
  font-weight: bolder;
  font-size: 20px;
  color: white;
}

/* popupwindow css */
.popup{
  position: fixed;
  top: 12%;
  left: 35%;
  width: 30%;
  height: 80%;
  background-color: aliceblue;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.email1{
  width: 100%;
  padding: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: aliceblue;
  border-radius: 20px;
}
.modal-body{
  font-size: 25px;
}
.rightside{
  margin-top: 150px;
  
}
/* transitioncss */
.rightbox{
  color:white;
  font-size: 40px;
  font-family: cursive;
  text-shadow: 2px 2px 0 #4682B4,
               2px 2px 0 #4682B4,
               2px 2px 0 #4682B4,
               2px 2px 0 #4682B4;
  animation-name: slide-in;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slide-in{
  0%{
    transform: translateX(30%);
    opacity: 0;
  }
  100%{
    transform: translateX(-20%);
    opacity: 1;
  }
}
.card{
  width: 250px;
  margin-top: 150px;
  margin-left: 125px;
  margin-bottom: 100px;
  border-radius: 5px;
}

.notify {
    background-color: #4682B4;
    width: 40%;
    margin-top: 10%;
    margin-left: 50%;
    padding: 15px;
    font-weight: bolder;
    font-size: 17px;
    color: white;
    transition: box-shadow 0.1s ease-in-out;
}

.notify:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.4) inset;
}

.listdocs{
  background-color: #1a1a19;
  background: linear-gradient(to bottom, rgba(49, 48, 44, 0.8), rgba(35, 35, 32, 0.8)), #1a1a19;
  transition: box-shadow 0.1s ease-in-out;
}

.listdocs:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.4) inset;
}

.my-custom-class {
  transition: box-shadow 0.1s ease-in-out;
}

.my-custom-class:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.4) inset;
}
.container3 {
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 500px;
  transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
  animation-name: slide-out;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.container3:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 10px rgba(18, 15, 211, 0.4) inset;
}

@keyframes slide-out{
  0%{
    transform: translateX(-20%);
    opacity: 0;
  }
  100%{
    transform: translateX(2%);
    opacity: 1;
  }
}
table{
  margin-left: 400px;
  margin-bottom: 30px;
  /* margin-top: 50px; */
  height: 500px;
  width: 700px;
  text-align: center;
  background-color: inherit;
  transition: transform 0.2s ease-in-out;
} 
table:hover {
  transform: scale(1.05); 
}
th:hover{
  box-shadow: 0px 0px 20px 10px rgba(18, 15, 211, 0.4) inset;
}
td:hover{
  box-shadow: 0px 0px 20px 10px rgba(18, 15, 211, 0.4) inset;
}
table, th, td{
  border: 10px solid #000;
  border-collapse: collapse;
}
th {
  font-size: larger;
  padding: 10px;
}

th, td {
  background-color: rgb(141, 138, 138);
}
.mainn {
  background-color: #000;
  height: 630px;
}
.save {
  margin-left: 950px;
  border-radius: 5px;
  background-color: #497498;
  width: 140px;
  height: 50px;
  transition: box-shadow 0.1s ease-in-out;
}
.save:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.4) inset;
}
.form1{
  background-color: aliceblue;
  position: relative;
  height: auto;
  border-radius: 20px;
  padding: 5%;
}